:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

i {
  color: rgb(129, 126, 126);
}

.logo {
  width: 8rem;
}

.container {
  max-width: auto;
}

/* Navbar */
#navbar {
  background: rgba(250, 246, 246, 0.973);
  height: 8vh;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 12px;
}

#navbar .container .nav-1 {
  display: flex;
}

#navbar .container .nav-1 .logo {
  margin: 0 30px;
}

#navbar .container .nav-1 ul li a {
  margin-right: 23px;
}

#navbar .container #list-2 li a {
  margin-right: 25px;
}

#navbar .container ul {
  display: flex;
  align-items: center;
}

#navbar .container ul a {
  color: rgb(129, 126, 126);
  font-size: 23px;
  font-weight: bold;
}

#navbar .container ul a:hover {
  color: black;
}

/* Show case */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 70vh;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
}

#showcase .showcase-content {
  padding-left: 5rem;
}

#showcase .showcase-content h4 {
  font-size: 20px;
}

#showcase .showcase-content h3 {
  font-size: 4rem;
}

#showcase .showcase-content p {
  font-size: 18px;
}

#showcase .end-content {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  padding-bottom: 5rem;
  padding-left: 5rem;
}
